---

---

<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <!-- <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet" type="text/css"> -->
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.min.css" rel="stylesheet" type="text/css">
    {% include head.html %}
    {% include head/custom.html %}

</head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
   
    <div id="q-app">
        <q-layout>
        <q-page-container>
        <q-page class="flex flex-center black fixed-top" id="canvasParent">
            <!-- <canvas id="canvasParent" class="absolute-top full-width full-height"></canvas> -->
            <!-- <q-scroll-observer @scroll="onScroll"></q-scroll-observer> -->
        </q-page>
        <q-page class="flex flex-center" id="page1">
            <div style=" width: 100vw;" class="text-center flex flex-center">
                {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
                {% include page__hero.html %}
              {% elsif page.header.video.id and page.header.video.provider %}
                {% include page__hero_video.html %}
              {% endif %}
            </div>
        </q-page>
        <q-page class="flex flex-center" id="page2">
            {% include feature_row id="braking_mechanism" type="center" %}
        </q-page>
        <q-page class="flex flex-center" id="page3">
            {% include feature_row id="parallel_brake" type="center" %}
        </q-page>
        <q-page class="flex flex-center" id="page4">
            {% include feature_row id="series_brake" type="center" %}
        </q-page>
        <q-page class="flex flex-center" id="page5">
            {% include feature_row id="parallel_brake_actuator" type="center" %}
        </q-page>
        <q-page class="flex flex-center" id="page6">
            {% include feature_row id="series_brake_actuator" type="center" %}
        </q-page>
      <q-page class="flex flex-center" id="page7">
            {% include feature_row id="farmbots" type="center" %}
        </q-page>
      <q-page class="flex flex-center" id="page8">
            {% include feature_row id="woodbots" type="center" %}
        </q-page>
      <q-page class="flex flex-center" id="page9">
            {% include feature_row id="constructionbots" type="center" %}
        </q-page>
      
      </q-page-container>
      
    </q-layout>

    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/5.3.0/babylon.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}//assets/js/chainbrake.js"></script>
    <script>
      var chainbrake = new chainBrakeSimulator()
      new Vue({
  el: '#q-app',
  data: function () {
    return {
      simTypes: ["CHAINONLY", "BRAKINGMECHANISM", "PARALLELBRAKE","SERIESBRAKE"]
    }
  },
  created: function() {
      setTimeout(()=>{
        chainbrake.init(document.getElementById("canvasParent"), "CHAINONLY")
        // chainbrake1.init(document.getElementById("singlebrakeonly"), "CHAINONLY")
        // chainbrake2.init(document.getElementById("doubleverticalbrake"), "CHAINONLY")

        let pagesTop = []
  // pagesTop[0] = document.getElementById("page1").offsetTop
  // pagesTop[1] = document.getElementById("page2").offsetTop
  // console.log(getVerticalScrollPosition(document.getElementById("page2")), pagesTop)
        let i = 1;
        while(true){
          if(document.getElementById(`page${i}`) != null){
            pagesTop.push(document.getElementById(`page${i}`).offsetTop)
            i++
          }else{
            break;
          }
        }
        const { getVerticalScrollPosition, setVerticalScrollPosition } = Quasar.scroll

        let currentPageindex = 0
        // let reversegPagesTop = pagesTop.reverse()
        setInterval(()=>{
          let windowHeight = window.innerHeight
          let scrollPos = getVerticalScrollPosition(window)
          let pos = 0;
          for(let i in pagesTop){
            if(Math.abs(pagesTop[i] - scrollPos) <= windowHeight * 0.4 && parseInt(i) !== currentPageindex){
              currentPageindex = parseInt(i)
              chainbrake.init(document.getElementById("canvasParent"), this.simTypes[currentPageindex])
            }
          }
      },100)

},4000)

  },
  methods: {
  	notify: function () {
      this.$q.notify('Running on Quasar v' + this.$q.version)
    },
    onscroll: function(){
      const { getScrollTarget } = Quasar.scroll
        console.log(getScrollTarget())
    }
	}
})
    </script>


  </body>
</html>