---

---

<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.min.css" rel="stylesheet" type="text/css">
    {% include head.html %}
    {% include head/custom.html %}

</head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
   
    <div id="q-app">
        <q-layout>
        <q-page-container>
        <q-page class="flex flex-center black absolute-top">
            <canvas id="render-canvas" class="absolute-top full-width full-height"></canvas>
        </q-page>
        <q-page class="flex flex-center">
            <div style=" width: 100vw;" class="text-center flex flex-center">
                {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
                {% include page__hero.html %}
              {% elsif page.header.video.id and page.header.video.provider %}
                {% include page__hero_video.html %}
              {% endif %}
            </div>
        </q-page>
        <q-page class="flex flex-center">
            {% include feature_row id="feature_row5" type="center" %}
        </q-page>
    </q-layout>
    </q-page-container>
        <div class="q-ma-md">
          Fork and make your own!
          Do NOT use self-closing tags here on Codepen.
        </div>
        
        <div class="q-ma-md">
          <q-btn label="Notify" color="primary" @click="notify"></q-btn>
        </div>
      
        <div class="q-ma-md">
          Running Quasar v{{ version }}
        </div>
      </div>
    <div class="initial-content">
<!--        
      {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
        {% include page__hero.html %}
      {% elsif page.header.video.id and page.header.video.provider %}
        {% include page__hero_video.html %}
      {% endif %}
       -->
      <div id="main" role="main">
        <!-- <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
          {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
       -->
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </article>
      </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2124139631235014" crossorigin="anonymous"></script>
        <div align="center" style="margin: 1em 0;">
        <ins class="adsbygoogle"
             style="display:block; border-bottom: initial;"
             data-ad-client="ca-pub-7328585512091257"
             data-ad-slot="3049671934"
             data-ad-format="auto"></ins>
        </div>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/5.3.0/babylon.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}//assets/js/chainbrake.js"></script>
    <script>
      var chainbrake = new chainBrakeSimulator()
      new Vue({
  el: '#q-app',
  data: function () {
    return {
      version: Quasar.version
    }
  },
  created: function() {
      setTimeout(()=>{
        chainbrake.init(document.getElementById("render-canvas"), "CHAINONLY")
    // var canvas = document.getElementById("render-canvas");
    // console.log(canvas)
    // var engine = new BABYLON.Engine(canvas);
    // console.log(engine)
    // var scene = new BABYLON.Scene(engine);
    // scene.clearColor = new BABYLON.Color3(0.8, 0.8, 0.8);
    // var camera = new BABYLON.FreeCamera("camera", new BABYLON.Vector3(0, 0, -10), scene);
    // var light = new BABYLON.PointLight("light", new BABYLON.Vector3(10, 10, 0), scene);

    // var box = BABYLON.Mesh.CreateBox("box", 2, scene);
    // box.rotation.x = -0.2;
    // box.rotation.y = -0.4;

    // var boxMaterial = new BABYLON.StandardMaterial("material", scene);
    // boxMaterial.emissiveColor = new BABYLON.Color3(0, 0.58, 0.86);
    // box.material = boxMaterial;

    // var renderLoop = function () {
    //     scene.render();
    // };
    // engine.runRenderLoop(renderLoop);
},4000)
  },
  methods: {
  	notify: function () {
      this.$q.notify('Running on Quasar v' + this.$q.version)
    }
	}
})
    </script>


  </body>
</html>